<ul class="media-list">
  <li class="media">
    <div class="media-body">
      <date>14 September 2015</date>
      <h4 class="media-heading">Sitecore XP rated Best in Class - again</h4>
    </div>
  </li>
  <li class="media">
    <div class="media-body">
      <date>14 September 2015</date>
      <h4 class="media-heading">New praise for world class experience management platform</h4>
    </div>
  </li>
  <li class="media">
    <div class="media-body">
      <date>14 September 2015</date>
      <h4 class="media-heading">Sitecore releases new featured packed version</h4>
    </div>
  </li>
</ul>
