<ul class="media-list">
  <li class="media">
    <div class="media-left">
      <a href="#"><img class="media-object" src="http://placehold.it/64x64" /></a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Media heading</h4>
      <p>
        ras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
      </p>
      <a href="#" class="btn btn-default">Read more</a>
    </div>
  </li>
  <li class="media">
    <div class="media-left">
      <a href="#"><img class="media-object" src="http://placehold.it/64x64" /></a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Media heading</h4>
      <p>
        ras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
      </p>
      <a href="#" class="btn btn-default">Read more</a>
    </div>
  </li>
  <li class="media">
    <div class="media-left">
      <a href="#"><img class="media-object" src="http://placehold.it/64x64" /></a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Media heading</h4>
      <p>
        ras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
      </p>
      <a href="#" class="btn btn-default">Read more</a>
    </div>
  </li>
</ul>
