{% if not navbarstyle %}
{% set navbarstyle = 'navbar-fixed-top' %}
{% endif %}

{% import "layouts/sublayouts/macros/navbar.nj" as navbar %}

<nav class="navbar navbar-default {{navbarstyle}}" id="mainNavbar">
  <div class="container">
    <div class="navbar-center">
      <div class="navbar-header">
        {{navbar.brand(tagline)}}
      </div>
    </div>
  </div>
  <div class="container">

    {% if not hidenav %}
      <div class="navbar-left">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#siteNavbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="siteNavbar">
          {{navbar.nav(componentsToLoad, templatesToLoad)}}
        </div><!-- /.navbar-collapse -->
      </div>
    {% endif %}

    <div class="navbar-right">
      {{navbar.activity()}}
    </div>
  </div>
</nav>
