<li class="media media-align-middle">
  <div class="media-left hidden-xs">
    <img class="media-object" src="http://placehold.it/100x100">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Dungeons and dragons in the dark woods</h4>
    <p>
      Times Square, in the forest, London
    </p>
  </div>
  <div class="media-right">
    <time class="text-nowrap"><span class="glyphicon glyphicon-calendar"></span> <strong>SAT 11 AUG</strong></time>
    <time class="text-nowrap"><span class="glyphicon glyphicon-time"></span> <strong>11:00 PM</strong></time>
  </div>
</li>
