{% import "layouts/sublayouts/macros/documentation.nj" as doc %}
{% import "layouts/sublayouts/macros/layout.nj" as layout %}
{% import "layouts/components/organisms/templates/_page-header.nj" as pageheader %}

{% import "layouts/components/atoms/templates/_form.nj" as form %}

{% set pageHeaderTop = true %} 

{% extends "layouts/default.html" %}

{% block content %}

{% include "layouts/sublayouts/header-with-top.html" %}

{% call layout.main() -%}
  {% call layout.pageHeader() -%}
    {{pageheader.breadcrumb()}}
    {{pageheader.pagetitle(title="Contact us", lead="Shoot us an email here")}}
  {%- endcall %}
  {% call layout.section() -%}
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          {% call form.form() %}
            {{form.formgroup(form.label(for='emailInput', caption='Your email'), form.email('emailInput'), form.helptext('Email address, .e.g john.doe@help.me'))}}
            {{form.formgroup(form.label(for='subjectInput', caption='Your subject'), form.text('subjectInput'))}}
            {{form.formgroup(form.label(for='textInput', caption='Your inquiry'), form.textarea('textInput', rows=7))}}
            {{form.formgroup(input=form.button(text='Send', class='btn-success btn-lg'))}}
          {% endcall %}
        </div>
        <div class="col-md-6">
          {% include "layouts/components/atoms/templates/_map.html" %}
        </div>
      </div>
    </div>
  {%- endcall %}
{%- endcall %}

{% include "layouts/sublayouts/footer.html" %}

{% endblock %}
