{% import "layouts/sublayouts/macros/documentation.nj" as doc %}
{% import "layouts/sublayouts/macros/layout.nj" as layout %}

{% import "layouts/components/atoms/templates/_panel.nj" as panel %}
{% import "layouts/components/atoms/templates/_headline.nj" as headline %}
{% import "layouts/components/organisms/templates/_grid-filter.nj" as gridFilter %}

{% set pageHeaderTop = true %} 

{% extends "layouts/default.html" %}

{% block content %}

{% include "layouts/sublayouts/header-with-top.html" %}

{% call layout.main() -%}
  {% call layout.section() -%}
    <div class="container">
      {{gridFilter.template('#personGrid', ["one", "two", "three"])}}
      <div class="row">
        <div class="col-md-12">
          <div class="block-grid-md-4 block-grid-sm-2 block-grid-xs-1" id="personGrid">
            <div class="block-grid-item" data-groups='["one"]' data-title="hello" data-created="2001-01-02" data-search-term="A nice duck">
              {{panel.person() }}
            </div>
            <div class="block-grid-item" data-groups='["two"]' data-title="hello" data-created="2001-01-02" data-search-term="A nice duck">
              {{panel.person() }}
            </div>
            <div class="block-grid-item" data-groups='["three"]' data-title="hello" data-created="2001-01-02" data-search-term="A nice duck">
              {{panel.person() }}
            </div>
            <div class="block-grid-item" data-groups='["one"]' data-title="hello" data-created="2001-01-02" data-search-term="A nice duck">
              {{panel.person() }}
            </div>
            <div class="block-grid-item" data-groups='["one"]' data-title="hello" data-created="2001-01-02" data-search-term="A nice duck">
              {{panel.person() }}
            </div>
            <div class="block-grid-item" data-groups='["two"]' data-title="hello" data-created="2001-01-02" data-search-term="A nice duck">
              {{panel.person() }}
            </div>
            <div class="block-grid-item" data-groups='["three"]' data-title="hello" data-created="2001-01-02" data-search-term="A nice duck">
              {{panel.person() }}
            </div>
            <div class="block-grid-item" data-groups='["one"]' data-title="hello" data-created="2001-01-02" data-search-term="A nice duck">
              {{panel.person() }}
            </div>
            <div class="block-grid-item" data-groups='["one"]' data-title="hello" data-created="2001-01-02" data-search-term="A nice duck">
              {{panel.person() }}
            </div>
            <div class="block-grid-item" data-groups='["two"]' data-title="hello" data-created="2001-01-02" data-search-term="A nice duck">
              {{panel.person() }}
            </div>
            <div class="block-grid-item" data-groups='["three"]' data-title="hello" data-created="2001-01-02" data-search-term="A nice duck">
              {{panel.person() }}
            </div>
            <div class="block-grid-item" data-groups='["one"]' data-title="hello" data-created="2001-01-02" data-search-term="A nice duck">
              {{panel.person() }}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endcall %}
  {% call layout.section(class="bg-secondary-dark")%}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% call headline.template(tag='h2', class='text-center') -%}
            Design team
          {%- endcall %}
          <ul class="block-grid-md-4 block-grid-sm-3 block-grid-xs-1">
            <li>
              {{panel.person() }}
            </li>
            <li>
              {{panel.person() }}
            </li>
            <li>
              {{panel.person() }}
            </li>
            <li>
              {{panel.person() }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  {%- endcall %} 
  {% call layout.section('bg-primary') -%}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% call headline.template(tag='h2', class='text-center') -%}
            Product team
          {%- endcall %}
          <ul class="block-grid-md-4 block-grid-sm-3 block-grid-xs-1">
            <li>
              {{panel.person() }}
            </li>
            <li>
              {{panel.person() }}
            </li>
            <li>
              {{panel.person() }}
            </li>
            <li>
              {{panel.person() }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  {%- endcall %} 
{%- endcall %}

{% include "layouts/sublayouts/footer.html" %}

{% endblock %}
