{% import "layouts/sublayouts/macros/documentation.nj" as doc %}
{% import "layouts/sublayouts/macros/layout.nj" as layout %}
{% import "layouts/components/atoms/templates/_form.nj" as form %}
{% import "layouts/components/molecules/templates/_jumbotron.nj" as jumbotron %}
{% import "layouts/components/organisms/templates/_search.nj" as search %}

{% set pageHeaderTop = true %}

{% extends "layouts/default.html" %}

{% block content %}

{% include "layouts/sublayouts/header-with-top.html" %}

{% call layout.main() -%}
  {% call layout.pageHeader() %}
    {{jumbotron.header(title=':(', subTitle='Sorry, something went wrong. Try searching for what you were looking for!')}}
  {% endcall %}
  {% call layout.section() -%}
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          {{search.form()}}
        </div>
      </div>
    </div>
  {%- endcall %}
{%- endcall %}

{% include "layouts/sublayouts/footer.html" %}

{% endblock %}
