{% import "layouts/sublayouts/macros/documentation.nj" as doc %}
{% import "layouts/sublayouts/macros/layout.nj" as layout %}
{% import "layouts/components/organisms/templates/_page-header.nj" as pageheader %}

{% import "layouts/components/organisms/templates/_media-list.nj" as mediaList %}
{% import "layouts/components/molecules/templates/_media.nj" as media %}

{% set pageHeaderTop = true %} 

{% extends "layouts/default.html" %}

{% block content %}

{% include "layouts/sublayouts/header-with-top.html" %}

{% call layout.main() -%}
  {% call layout.pageHeader() -%}
    {{pageheader.pagetitle(title='List of upcoming events', lead=false)}}
  {%- endcall %}
  {% call layout.section() -%}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{mediaList.template(maintag='ul', item=media.template(maintag='li', caller = false, right='date and calendar here', class='media-align-middle'), class='media-list-divided')}}
        </div>
      </div>
    </div>
  {%- endcall %}
{%- endcall %}

{% include "layouts/sublayouts/footer.html" %}

{% endblock %}
