<!DOCTYPE html>
<html dir="ltr" class="no-js" lang="">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SitecoreHabitatTheme</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="/bower_components/bootstrap-block-grid/dist/bootstrap3-block-grid.css">
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/hover/css/hover.css" />
    <link rel="stylesheet" href="/bower_components/animate.css/animate.css" />
    <link rel="stylesheet" href="/bower_components/OwlCarousel/owl-carousel/owl.carousel.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/default.css -->
    <link rel="stylesheet" href="styles/default.css" disabled data-themetype="main">
    <!-- endbuild -->

    <!-- build:css styles/niteflight.css -->
    <link rel="stylesheet" href="styles/niteflight.css" data-themetype="main">
    <!-- endbuild -->

    <!-- build:css styles/dayfrost.css disabled -->
    <link rel="stylesheet" href="styles/dayfrost.css" disabled data-themetype="main">
    <!-- endbuild -->

    <!-- build:css styles/white-wonder.css disabled -->
    <link rel="stylesheet" href="styles/white-wonder.css" disabled data-themetype="main">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/chart.js/dist/Chart.js"></script>
    <!-- endbuild -->

  </head>
  {% if pageBackgroundImage %}
    {% set style = 'background-image: ' + pageBackgroundImage + ';' %}
    {% set pageLayout = pageLayout + ' body-media' %}
  {% endif %}

  {% if pageBackground %}
    {% set pageLayout = pageLayout + ' ' + pageBackground %}
  {% endif %}

  {% if pageHeaderTop %}
  {% set pageLayout = pageLayout + ' header-top' %}
  {% endif %}

  <body class="{{curPage}} {{pageLayout}}" style="{{style}}">
    <div id="main-container">
      {% block content %}{% endblock %}
    </div>

    <!-- build:js scripts/vendor.js -->
    <script src="/bower_components/ace-builds/src-min/ace.js"></script>
    <script src="/bower_components/ace-builds/src-min/mode-html.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/jquery.modern.js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <script src="/bower_components/shufflejs/dist/jquery.shuffle.js"></script>
    <script src="/bower_components/bootstrap-colequalizer/bootstrap-colequalizer.js"></script>
    <!-- bower:js -->
    <script src="/bower_components/wow/dist/wow.js"></script>
    <script src="/bower_components/OwlCarousel/owl-carousel/owl.carousel.js"></script>
    <script src="/bower_components/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
    <script src="/bower_components/ev-emitter/ev-emitter.js"></script>
    <script src="/bower_components/imagesloaded/imagesloaded.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/framework.js -->
    <script src="scripts/main.js"></script>
    <script src="scripts/carousel.js"></script>
    <script src="scripts/counter.js"></script>
    <script src="scripts/form.js"></script>
    <script src="scripts/grid.js"></script>
    <script src="scripts/lightbox.js"></script>
    <script src="scripts/popover.js"></script>
    <script src="scripts/search.js"></script>
    <script src="scripts/sidebar.js"></script>
    <script src="scripts/theming.js"></script>
    <script src="scripts/tooltip.js"></script>
    <script src="scripts/media-query.js"></script>
    <!-- endbuild -->
  </body>

</html>
