{% import "layouts/sublayouts/macros/documentation.nj" as doc %}
{% import "layouts/sublayouts/macros/layout.nj" as layout %}

{% extends "layouts/default.html" %}

{% block content %}

{% include "layouts/sublayouts/header.html" %}

{% call layout.main() -%}
  {{ doc.pageheader('Modules', 'This is an example of all molecules on a content page.') }}
  
  {% call layout.section() -%}
    {% set componentType = 'molecules' %}
    {% include "layouts/sublayouts/content-components.html" %}
  {%- endcall %}
  
{%- endcall %}

{% include "layouts/sublayouts/footer.html" %}

{% endblock %}
