{% import "layouts/sublayouts/macros/documentation.nj" as doc %}
{% import "layouts/sublayouts/macros/layout.nj" as layout %}

{% extends "layouts/default.html" %}

{% block content %}

{% include "layouts/sublayouts/header.html" %}

{% call layout.main() -%}
  {{ doc.pageheader('Fixed header', 'This header stays visible in the top of the page, even when scrolling.') }}
  
  {% include "layouts/sublayouts/default-content.html" %}
{%- endcall %}

{% include "layouts/sublayouts/footer.html" %}

{% endblock %}
